---
import Layout from "../layouts/Layout.astro";
import Schedule from "../components/schedule.astro";
import UsefulLinks from "../components/useful-links.astro";
import Challenges from "../components/challenges.astro";
import Sponsors from "../components/sponsors.astro";
import Participants from "../components/participants.astro";
---

<Layout title="Personal Sites CodeJam 2023 - EdinburghJS">
  <header class="bg-yellow p-12">
    <h1 class="text-6xl font-bold mb-4">
      Code Jam - Personal Sites with Astro
    </h1>
    <p class="text-2xl font-semibold">Saturday 28th October 2023 at CodeClan &middot; Sponsored by <a class="underline" href="https://gigged.ai">Gigged.ai</a></p>
  </header>
  <main class="px-12 py-4">
    <ul class="text-xl mb-8">
      <li>
        <a href="#schedule" class="text-blue-600 underline">1. Schedule</a>
      </li>
      <li>
        <a href="#challenges" class="text-blue-600 underline">2. Challenges</a>
      </li>
      <li>
        <a href="#sponsors" class="text-blue-600 underline"
          >3. Sponsors & thanks</a>
      </li>
      <li>
        <a href="#links" class="text-blue-600 underline">4. Useful links</a>
      </li>
      <li>
        <a href="#participants" class="text-blue-600 underline"
          >5. Participants</a>
      </li>
    </ul>

    <Schedule />
    <Challenges />
    <Sponsors />
    <UsefulLinks />
    <Participants />
  </main>
</Layout>
