<div class="prose my-6">
  <h2 id="challenges">Challenges</h2>

  <p>The first challenge is to deploy and Astro template with your name and a "hello world" message, then to submit a PR to <a href="https://github.com/scottishtechnologyclub/edinburghjs-codejam-2023-astro-personalsites">this repository</a> to list your work.</p>

  <p>Try hosting with <a href="https://vercel.com/docs/frameworks/astro">Vercel</a> or Netlify</p>

  <p>Then try:</p>

  <ul>
    <li>Add pictures using the <a href="https://docs.astro.build/en/guides/images/">inbuilt Astro image components</a></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/tailwind/">Add tailwind</a> to help your style your site</li>
    <li>Add a <a href="https://docs.astro.build/en/guides/content-collections/">content collection</a> for a dev-blog, project list or month notes (or all of these!). Why not write a post about how you are setting up this site?</li>
    <li>Add <a href="https://docs.astro.build/en/guides/rss/">an RSS feed</a> for your blog</li>
    <li>Pull in a list of your pinned repos or starred repos from Github</li>
    <li>Add a <a href="https://nownownow.com/">Now page</a></li>
    <li>Add links to your Github, LinkedIn, 𝕏 using Astro icons</li>
    <li>Add interactive React components</li>
    <li>Implement <a href="https://www.kevinzunigacuellar.com/blog/dark-mode-in-astro/">dark mode</a></li>
    <li>Write some JS inspired by the graphics or sounds talks at recent EdinburghJS events</li>
    <li>Create <a href="https://www.paulie.dev/posts/2023/09/how-to-create-excerpts-with-astro">blog excerpts</a></li>
    <li><a href="https://luigicruz.dev/blog/using-spotify-api">Displaying your top songs using the Spotify API</a></li>
    <li>Create page transitions using the <a href="https://www.maxiferreira.com/blog/astro-page-transitions/">Shared Element Transition API</a></li>
    <li>Filter out <a href="https://akashrajpurohit.com/blog/set-up-draft-pages-effectively-in-astro-with-configdriven-content-authoring/">draft pages</a> on your blog</li>
    <li>Add <a href="https://docs.astro.build/en/guides/client-side-scripts/#client-side-scripts">celebration confetti</a> to a page</li>
  </ul>

</div>