<div class="prose my-6">
  <h2 id="schedule">Schedule</h2>

  <p>The event will be run in a self-directed learning style. Turn up and expect to code. We want everyone to finish the day having built a personal website. Mentors and peer support will be available throughout.</p>

  <p>The rough schedule is:</p>

  <ul>
    <li>09:30 - Doors open</li>
    <li>Get connected to Wifi, settle in</li>
    <li><a href="https://docs.astro.build/en/install/auto/" class="text-blue-800 underline">Install Astro</a>, publish a "Hello World" site (try <a href="https://vercel.com/docs/frameworks/astro">Vercel</a> or Netlify for hosting!), Pull Request a link to your site on <em>this site (below!)</em></li>
    <li>Get coding on the challenges</li>
    <li>12:30 - Lunch (Union of Genius soup, sponsored by Gigged.ai)</li>
    <li>15:00 - Wrap up coding, finishing touches</li>
    <li>16:00 - Showcase</li>
    <li>17:00 - Close</li>
  </ul>
</div>