<div class="prose my-6">
  <h2 id="links">Useful Links</h2>

  <ul>
    <li><a href="https://astro.build">Astro.build</a> - Astro homepage</li>
    <li><a href="https://marketplace.visualstudio.com/items?itemName=astro-build.astro-vscode">Astro VS Code Extension</a></li>
    <li><a href="https://github.com/one-aalam/awesome-astro">Awesome Astro</a></li>
    <li><a href="https://docs.astro.build/en/recipes/">Astro Recipies</a></li>
  </ul>

</div>